Repository codestates-seb/seb43_main_019, pull requests merged in 2023-05, with the labels that each got.

#58 Feat/review hw
  backend/aircamp/.gitignore
  backend/aircamp/build.gradle
  backend/aircamp/src/main/java/com/osdoor/aircamp/helper/email/MailConfiguration.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/member/controller/MemberController.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/member/dto/MemberPatchDto.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/member/dto/MemberPostDto.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/member/dto/MemberResponseDto.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/member/entity/Member.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/review/controller/ReviewController.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/review/dto/ReviewPatchDto.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/review/dto/ReviewPostDto.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/review/dto/ReviewResponseDto.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/review/entity/Review.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/review/mapper/ReviewMapper.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/review/repository/ReviewRepository.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/review/service/ReviewService.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/validator/ReviewScore.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/validator/ReviewScorePatch.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/validator/ReviewScorePatchValidator.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/validator/ReviewScoreValidator.java
  backend/aircamp/src/main/resources/application.yml
Labels: bug, Bare Minimum

#65 FEAT_hw_ 탈퇴한 회원을 재가입 시킬 수 있는 api 작성
  backend/aircamp/src/main/java/com/osdoor/aircamp/member/controller/MemberController.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/member/dto/ReSignUpDto.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/member/mapper/MemberMapper.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/member/service/MemberService.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/product/entity/Product.java
Labels: enhancement, Backend, API, Feature

#79 FIX_hw_ review를 작성하거나 수정한 경우 By필드에 작성자의 계정명이 담길 수 있도록 수정.
  backend/aircamp/src/main/java/com/osdoor/aircamp/review/entity/Review.java
Labels: bug, Backend

#81 [FE][FEAT] 로그인이 필요한 서비스 입니다 추가
  frontend/src/App.js
  frontend/src/Components/DetailInfo.jsx
  frontend/src/Components/Payment/KakaoPayPost.jsx
  frontend/src/Pages/Detail.jsx
  frontend/src/Pages/Payment.jsx
Labels: Bare Minimum, Frontend

#82 FIX_hw_ 사업자등록일자(businessRegistrationDate) 추가
  backend/aircamp/src/main/java/com/osdoor/aircamp/member/dto/MemberPatchDto.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/member/dto/MemberPostDto.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/member/dto/MemberResponseDto.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/member/entity/Member.java
Labels: enhancement, Backend

#86 [FE][FEAT]Detail Axios 작업
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/Components/DetailInfo.jsx
  frontend/src/Components/Reservation.jsx
  frontend/src/Pages/Detail.jsx
  frontend/src/Pages/Payment.jsx
  frontend/src/utils/ProductFunctions.js
Labels: Bare Minimum, Frontend, API, Feature

#94 [FE][FEAT]위도 경도 별 지도 구현
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/Components/DeatilImage.jsx
  frontend/src/Components/Map.jsx
  frontend/src/Pages/Detail.jsx
Labels: Bare Minimum, Frontend, API, Feature

#102 [FE][FEAT]AXIOS직전
  frontend/src/Components/Payment/KakaoPayBtn.jsx
  frontend/src/Components/Picker.jsx
  frontend/src/Pages/Detail.jsx
  frontend/src/Pages/Payment.jsx
  frontend/src/utils/ProductFunctions.js
Labels: Bare Minimum, Frontend, API, Feature

#106 FEAT: 카카오맵 API 적용, 코드 수정
  backend/aircamp/src/main/java/com/osdoor/aircamp/auth/oauth/CustomOAuth2UserService.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/auth/oauth/OAuth2FailureHandler.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/auth/oauth/OAuth2SuccessHandler.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/auth/utils/CustomAuthorityUtils.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/config/SecurityConfiguration.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/exception/ExceptionCode.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/helper/api/KakaoRestApiHelper.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/member/entity/Member.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/member/service/MemberService.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/product/controller/ProductController.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/product/dto/ProductPatchDto.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/product/dto/ProductPostDto.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/product/dto/ProductResponseDto.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/product/service/ProductService.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/reservation/dto/ReservationPostDto.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/reservation/entity/Reservation.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/reservation/mapper/ReservationMapper.java
Labels: Backend, Feature, Refactor

#108 [FE][FEAT]카카오페이 axios
  frontend/src/App.js
  frontend/src/Components/Map.jsx
  frontend/src/Components/Payment/KakaoPayBtn.jsx
  frontend/src/Components/Picker.css
  frontend/src/Pages/Detail.jsx
  frontend/src/Pages/KakaoLogin.jsx
  frontend/src/Pages/Payment.jsx
  frontend/src/Pages/SelectPay.jsx
  frontend/src/utils/MemberFunctions.js
  frontend/src/utils/ProductFunctions.js
Labels: Bare Minimum, Frontend, API, Feature

#110 Feat/payment hb
  backend/aircamp/src/main/java/com/osdoor/aircamp/exception/ExceptionCode.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/payment/controller/PaymentController.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/payment/dto/Amount.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/payment/dto/KakaoApproveResponse.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/payment/dto/KakaoCancelResponse.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/payment/dto/KakaoReadyResponse.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/payment/entity/Payment.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/payment/global/ParameterProvider.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/payment/global/PaymentTypeFacade.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/payment/kakaoPay/controller/KakaoPayController.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/payment/kakaoPay/dto/KakaoResponseDto.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/payment/kakaoPay/dto/PaymentParams.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/payment/kakaoPay/service/KaKaoPayService.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/payment/kakaoPay/service/KakaoPaymentFacade.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/payment/kakaoPay/service/RestTemplateConfig.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/payment/kakaoPay/service/approve/KakaoPayApprove.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/payment/kakaoPay/service/approve/KakaoPayApproveImpl.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/payment/kakaoPay/service/request/KaKaoPayRequestImpl.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/payment/kakaoPay/service/request/KakaoPayRequest.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/payment/repository/PaymentRepository.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/payment/service/PaymentService.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/payment/tossPay/controller/TossPayController.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/payment/tossPay/dto/TossApproveDto.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/payment/tossPay/service/TossPayService.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/reservation/controller/ReservationController.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/reservation/dto/ReservationIdResponseDto.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/reservation/dto/ReservationPatchDto.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/reservation/dto/ReservationPostDto.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/reservation/entity/PaymentStatus.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/reservation/entity/Reservation.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/reservation/entity/ReservationStatus.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/reservation/service/ReservationService.java
Labels: Backend, Feature, Refactor

#111 Feat/member hw
  backend/aircamp/src/main/java/com/osdoor/aircamp/member/controller/SellerController.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/member/dto/MemberPatchDto.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/member/dto/MemberPostDto.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/member/dto/SellerPatchDto.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/member/dto/SellerPostDto.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/member/mapper/SellerMapper.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/member/service/MemberService.java
Labels: enhancement, Backend, Feature

#119 Feat: 사용자의 예약내역 조회 기능 구현
  backend/aircamp/src/main/java/com/osdoor/aircamp/reservation/controller/ReservationController.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/reservation/dto/ReservationDto.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/reservation/service/ReservationService.java
Labels: Bare Minimum, Backend, API, Feature

#123 Fix payment hb
  backend/aircamp/src/main/java/com/osdoor/aircamp/payment/controller/PaymentController.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/payment/service/PaymentService.java
Labels: Backend, Refactor

#128 Fix/member hw member의 boolean 필드에 값이 입력되지 않는 오류 해결
  backend/aircamp/src/main/java/com/osdoor/aircamp/member/dto/MemberResponseDto.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/member/entity/Member.java
Labels: bug, Bare Minimum, Backend

#132 Fix/payment hb
  backend/aircamp/src/main/java/com/osdoor/aircamp/payment/repository/PaymentRepository.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/payment/service/PaymentService.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/reservation/controller/ReservationController.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/reservation/entity/Reservation.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/reservation/entity/ReservationStatus.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/reservation/repository/ReservationRepository.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/reservation/service/ReservationService.java
Labels: Backend, Feature

#133 Feat/reservation hb
  backend/aircamp/src/main/java/com/osdoor/aircamp/reservation/controller/ReservationController.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/reservation/entity/Reservation.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/reservation/repository/ReservationRepository.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/reservation/service/ReservationService.java
Labels: Backend, Feature

#140 Feat: 해당 날짜에 중복된 예약이 있는지 검증 기능 구현
  backend/aircamp/src/main/java/com/osdoor/aircamp/reservation/controller/ReservationController.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/reservation/dto/ReservationExistenceDto.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/reservation/mapper/ReservationMapper.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/reservation/repository/ReservationRepository.java
  backend/aircamp/src/main/java/com/osdoor/aircamp/reservation/service/ReservationService.java
Labels: Backend, API, Feature
